@page "/"

<PageTitle>Index</PageTitle>

<h1>
    Внимание!Сайт находится в разработке. Предложения, пожелания, информацию и найденных ошибках направлять на greenpeaks24@yandex.ru

</h1>
<h2>
   Сайт «BuildInfo» — это бесплатный сервис для инженеров, архитекторов и частных лиц, которые планируют строительство или ремонт. Наш сайт поможет вам быстро и точно рассчитать количество необходимых материалов, стоимость работ и другие важные параметры.
   Мы регулярно добавляем новые калькуляторы и совершенствуем уже существующие. Если у вас есть предложения по улучшению нашего сервиса, пожалуйста, свяжитесь с нами.
</h2>


<SurveyPrompt Title="How is Blazor working for you?" />
